:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: #131112;
  --background-color: #fff;
  --btn-background: #43b043;
  --btn-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #f0f0f0;
  color: var(--color);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
#app div.movie {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 225px;
  align-content: center;
  cursor: pointer;
}
#app img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 75vw;
  margin: 10px auto;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#header-container nav ul li {
  list-style: none;
}
#header-container nav ul li a {
  text-decoration: none;
  color: var(--color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--btn-background);
  color: var(--btn-color);
}
#header-container nav ul li a:hover {
  background-color: #2ecc71;
}
#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 75vw;
  margin: 10px auto;
}

#btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 10px auto;
  background-color: #ddd;
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#btns button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  width: 200px;
}
#btns button:hover {
  background-color: #2ecc71;
}

.movie-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 80vw;
  margin: 20px auto;
}
.additional-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 80vw;
  margin: 20px auto;
}
.trailer-section {
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 80vw;
  margin: 20px auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
