<header>
  <div id="header">
    <div class="header-left">
      <a href="index.html" class="logo">
        <img
          src="/images/movie-850.png"
          alt="Movie App Logo"
          width="60"
          height="60"
        />
      </a>
      <h1>Movie Information App</h1>
    </div>
    <button
      class="hamburger"
      id="hamburger"
      type="button"
      aria-label="Toggle navigation"
    >
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="favorites.html">Favorites</a></li>
        <li><button id="surprise-me" class="nav-link">Surprise Me</button></li>
      </ul>
    </div>
  </div>
</header>
